/* General Styles */

.testimonial-section {
  display: flex;
  align-items: flex-start;
  padding: 50px 0;
  background-color: #f0f8ff; 
}

.testimonial-image {
  flex: 1;
  margin-left: 100px; 
}

.testimonial-image img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.testimonial-content {
  flex: 2;
  color: #333; 
}

.testimonial-quote {
  font-size: 1.8rem; 
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-info {
  display: flex;
  text-align: left; 
  justify-content: flex-start; 
}

.testimonial-name {
  font-size: 1.2rem; 
  margin-right: 10px;
}

.testimonial-location {
  font-size: 1rem; 
  color: #666; 
}

/* Responsive Design */

@media (max-width: 768px) {
  .testimonial-section {
    flex-direction: column; 
    align-items: center; 
  }

  .testimonial-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .testimonial-info {
    flex-direction: column; 
    align-items: flex-start; 
  }
}
